
body{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
  background: #ebecf0;
}
nav{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background: #363d67;
	width: auto;
  height: auto;
}
.links{
  margin-right: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}
.links li{
  margin: 0 30px;
}
.links li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.ProyectToDo{
	align-self: 0px;

}

nav img{
  width: 3rem;
  margin: 20px 0px;
  margin-left: 30px;
  }

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%,-30%);
  background: white;
  text-align: center;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
}
.box h1{
  color: #3498db;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  font-size: 20px;
  outline: none;
  color: #2a3333;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: #4a5076;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2b3152;
  padding: 14px 40px;
  outline: none;
  color: #ebecf0;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #727795;
}
